body{
    background-image:url(img/background2.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}

.content{
    width:1200px;
    height:auto;
    margin:auto;
    color:#000000;
    position:relative;
}

.content .par{
    padding-left:20px;
    padding-bottom:25px;
    font-family: Arial;
    letter-spacing:1.2px;
    line-height:30px;

}
.content h1{
    font-family:'Times New Roman';
    font-size:50px;
    padding-left:20px;
    margin-top:9%;
    letter-spacing:2px;
}

    .content .cn {
        width: 160px;
        height: 40px;
        background: #f56363c1;
        border: none;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
    }

.content .cn a{

    text-decoration:none;
    color:#000000;
    transition:.3s ease;

}
.cn:hover{
    background-color:#ff6a00;
}

.content span {
    color: #f56363c1;
    font-size: 60px;
}
