@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>

<link rel="stylesheet" href="~/css/IntroPage.css" asp-append-version="true" />
</head>

<body>
    <div class="content">
    <h1>Welcome To 2555<br /><span>Web Site</span></h1>
    <p class="par">Join Our Journey To Certifications World</p>
    <button class="cn">See Our Certs</button>
    </div>
</body>
